@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body{
    font-family: 'poppins' , sans-serif;
    line-height: 1.6;
    color: grey;
}

/* Header styles */
header{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;

}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.logo i{
    color: #ff6b6b;
    margin-right: 0.5rem;
}

nav ul{
    display: flex;
    list-style: none;
    
}

nav ul li{
    margin-left: 2rem;

}

nav ul li a{
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #ff6b6b;
}

.hero{
    background-image: linear-gradient(to right, #ff6b6b, #ffa07a);
    color: white;
    padding: 8rem 1rem;
    text-align: center;
}

.hero-content{
    max-width: 800px;
    margin: 0 auto;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #ff6b6b;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover{
    background-color: bisque;
    color: white;
    
}