@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* body */
body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;

}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
/* NAV */
nav{
    background-color: rgb(57, 49, 49);
    padding: 10PX;
    text-align: center;

}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 5px 10px;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(12, 202, 240);
    box-shadow: 1px 2px 2px blue;
    transition: 2s;
}
/* Main */
main{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,h2,h3{
    text-align: center;
    color: #333;
}
h1{
    font-size: 32px;
    color: white;
}
h2{
    font-size: 24px;
}

p{
    color: #555;
    line-height: 1.5;
}
.product{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
.product img{
    height: auto;
    max-width: 100%;
}
.product h3{
    font-size: 20px;
    margin-top: 10px;
}
.product p{
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    padding: 40px;
    text-align: center;
}
footer p{
    color: white;
}
