/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(0, 96, 128);
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 16px;
    
}

#nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

#nav-menu li {
    padding: 8px;
}

#nav-menu a {
    background: linear-gradient(to right,rgb(51, 233, 105),orange);
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 7px;
}
#nav-menu a:hover{
    background: linear-gradient(to right,white,white);
    transition: 1s ease-out;

}


/* Main Sections */
main {
    padding: 32px;
}

h2 {
    margin-bottom: 16px;
    animation: slide 1s ease-in-out;
}
@keyframes slide {0%{
       transform:translateX(0%)
}
    50%{
        transform:translateX(-10%);
    }
    100%{
        transform:translateX(0%)
    }
    
}


p {
    margin-bottom: 24px;
}

pre {
    background-color: #be1919;
    padding: 16px;
    margin-bottom: 24px;
}

code {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-transform: capitalize;
}

ul {
    margin-bottom: 24px;
}

li {
    margin-bottom: 8px;
}


/* footer */
footer{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0;
    text-align: center;
}

   
  

