

body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
   
}
body{
    background-color: #462ae6;
    width: 100%;
}
.container {
    width: 1200px; 
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    position: relative;
}
.container::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-image: url('https://img.freepik.com/free-vector/advanced-computer-skills-abstract-concept-illustration_335657-3877.jpg?t=st=1716709975~exp=1716713575~hmac=b87edfe06bc3903c0dacb407dc2a684719ba6312d6b4447974b774c1c9357014&w=740');
    background-size: cover;
    background-position: center;
    scale: 0.58;
    transition: transform 0.3s ease;
}

/* .container::after:hover{
    transform: translateY(-50%);

} */
header{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
      
}
h1{
    color: #20025a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
   

}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

nav ul li a{
    margin-left: 20px;
    color: rgb(55, 12, 226);
    text-decoration: none;
    transition: 0.3s ease;
}
nav ul li a:hover{
    color: #05021C;
}

h2{
    color: rgb(11, 121, 97);
}
main p{ 
    line-height: 2;
    color: black;
    text-align: justify;
}
i{
    font-size: 40px;
    margin: 10px;
}
.dev{
    font-size: 25px;
    text-align: center;
}
.hire{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin:20px 250px;
    border-radius: 1rem;
    background-color: #d60d0d;
    color: white;
    transition: 0.4s ease;
    border: none;
}

.hire:hover{
    color: #05021C;
    background-color: transparent;
    border: 1px solid #05021C;

}

.content p{
    color: #d60d0d;
}
.name{
    color: #17033c;
    text-transform: capitalize;
}
.expertise{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.expertise p{
    margin-left: 70px;
    text-align: center;
    border: 1px solid white;
    color: #462ae6;
}
.expertise p:last-of-type{
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 3px;
}    
.expertise p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #462ae6;
}


.expertise p:first-of-type{
    font-size: 20px;
    font-weight: bolder;
    color: #462ae6;
}
footer{
    text-align: center;
}


































